{% load static %}
<!DOCTYPE html>
<html lang="ja">
<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<title>{% block title %}{% endblock %} | CABABA</title>
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta name="description" content="{% block description %}{% endblock %}">
	<meta name="keywords" content="{% block keywords %}{% endblock %}">
	<link rel="stylesheet" href="{% static 'tp_gold/css/style.css' %}">
	{% block stylesheet %}{% endblock %}
	<script src="{% static 'tp_gold/js/openclose.js' %}"></script>
	<script src="{% static 'tp_gold/js/fixmenu_pagetop.js' %}"></script>
	<script src="{% static 'tp_gold/js/fixmenu.js' %}"></script>
	<!--[if lt IE 9]>
<script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
<script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
<![endif]-->
</head>

<body class="home">

	<!-- トップタイトルヘッダー -->
	{% include 'partials/header.html' %}

	<!--PC用（801px以上端末）メニュー-->
	{% include 'partials/menubar.html' %}
	<!--小さな端末用（800px以下端末）メニュー-->
	{% include 'partials/menubar-s.html' %}

	<!--スライドショー-->
	{% include 'partials/mainimg.html' %}


	<div id="contents" class="inner">
		<div id="contents-in">

			<div id="main">
				{% block content %}
				{% endblock %}
			</div>
			<!--/main-->

			<div id="sub">
				{% include 'partials/sub.html' %}
			</div>
			<!--/#sub-->

		</div>
		<!--/#contents-in-->

		<div id="side">
			{% include 'partials/side.html' %}
		</div>
		<!--/#side-->

	</div>
	<!--/#contents-->

	<footer>

		<div id="footermenu" class="inner">
			{% include 'partials/footermenu.html' %}
		</div>
		<!--/footermenu-->

		<div id="copyright">
			{% include 'partials/copyright.html' %}
		</div>

	</footer>

	<!--ページの上部に戻る「↑」ボタン-->
	<p class="nav-fix-pos-pagetop"><a href="#">↑</a></p>

	<!--メニュー開閉ボタン-->
	<div id="menubar_hdr" class="close"></div>
	<!--メニューの開閉処理条件設定　800px以下-->
	<script>
		if (OCwindowWidth() <= 800) {
			open_close("menubar_hdr", "menubar-s");
		}
	</script>

	{% block script %}{% endblock %}

</body>

</html>