{% load static %}
<!-- <nav>
    <h2>Contents</h2>
    <ul class="submenu">
        <li><a href="#">メニューサンプル</a></li>
        <li><a href="#">メニューサンプル</a></li>
        <li><a href="#">メニューサンプル</a></li>
        <li><a href="#">メニューサンプル</a></li>
        <li><a href="#">メニューサンプル</a></li>
    </ul>
</nav> -->

<!-- <section>

    <h2>人気キャスト</h2>

    <div class="list-sub">
        <a href="staff.html">
            <figure><img src="{% static 'tp_gold/images/photo1.png' %}" alt=""></figure>
            <h4>sample name</h4>
            <p>簡単な説明を入れます。</p>
        </a>
    </div>

    <div class="list-sub">
        <a href="staff.html">
            <figure><img src="{% static 'tp_gold/images/photo1.png' %}" alt=""></figure>
            <h4>sample name</h4>
            <p>簡単な説明を入れます。</p>
        </a>
    </div>

    <div class="list-sub">
        <a href="staff.html">
            <figure><img src="{% static 'tp_gold/images/photo1.png' %}" alt=""></figure>
            <h4>sample name</h4>
            <p>簡単な説明を入れます。</p>
        </a>
    </div>

    <div class="list-sub">
        <a href="staff.html">
            <figure><img src="{% static 'tp_gold/images/photo1.png' %}" alt=""></figure>
            <h4>sample name</h4>
            <p>簡単な説明を入れます。</p>
        </a>
    </div>

</section> -->

<p>
    <!-- <a href="recruit.html"><img src="{% static 'tp_gold/images/banner1.jpg' %}" alt="採用情報" class="pc border1"></a>
    <a href="recruit.html"><img src="{% static 'tp_gold/images/banner1_sh.jpg' %}" alt="採用情報" class="sh border1"></a> -->
</p>