<!-- <nav class="box1">
    <h2>Contents</h2>
    <ul class="submenu">
        <li><a href="company.html">会社概要</a></li>
        <li><a href="link.html">リンク</a></li>
        <li><a href="#">メニューサンプル</a></li>
        <li><a href="#">メニューサンプル</a></li>
        <li><a href="#">メニューサンプル</a></li>
    </ul>
</nav> -->

<!-- <nav class="box1">
    <ul class="submenu">
        <li><a href="#">メニューサンプル</a></li>
        <li><a href="#">メニューサンプル</a></li>
        <li><a href="#">メニューサンプル</a></li>
        <li><a href="#">メニューサンプル</a></li>
        <li><a href="#">メニューサンプル</a></li>
    </ul>
</nav> -->

<!-- <div class="box1 c">
    <h2 class="mb10">アクセス</h2>
    <p>東京都XX区XXXXビル３F<br>
        TEL：03-0000-0000<br>
        定休日：月曜日</p>
</div> -->