{% load markdownify %}

{% load static %}
<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no, user-scalable=no">
    <title>CABABA</title>
    <link rel="shortcut icon" href="{% static 'favicon.ico' %}">
    <link rel="stylesheet" href="{% static 'main.css' %}">
</head>
<body>
    <nav>
        <a href="/">
            <img src="{% static 'images/title.svg' %}" alt="">
        </a>
    </nav>
    <div class="markdown">
        {{ md_text|safe }}
    </div>

    {% include 'cababa/partials/footer.html' %}

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="{% static 'main.js' %}"></script>
    {% include 'cababa/partials/google_tag.html' %}
</body>
</html>