{% load static %}
<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no, user-scalable=no">
    <title>CABABA</title>
    <link rel="shortcut icon" href="{% static 'favicon.ico' %}">
    <link rel="stylesheet" href="{% static 'main.css' %}">
</head>
<body>
    <header>
        <a href="{% url 'reservations:hostess_list' %}">
        <!-- <a href="{% url 'pre_register:form' %}"> -->
            <button>今すぐお話する</button>
            <!-- <button>キャスト事前登録はコチラ</button> -->
        </a>
    </header>

    <img class="flyer" src="{% static 'images/about.jpg' %}" alt="about">
    <img class="flyer" src="{% static 'images/flows.jpg' %}" alt="flows">
    <img class="flyer" src="{% static 'images/plans.jpg' %}" alt="plans">

    <div class="faq">
        <h3 class="faq-title">FAQ</h3>

        {% for faq in faqs %}
            <div class="faq-content">
                <div class="question" id="faq-{{ forloop.counter }}">
                    <span>Q</span>
                    <p>{{ faq.question }}</p>
                </div>
                <div class="answer" aria-labelledby="faq-{{ forloop.counter }}">
                    <span>A</span>
                    <p>{{ faq.answer }}</p>
                </div>
            </div>
        {% endfor %}

    </div>

    {% include 'cababa/partials/footer.html' %}

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="{% static 'main.js' %}"></script>
    {% include 'cababa/partials/google_tag.html' %}
</body>
</html>