{% extends 'cababa/partials/base.html' %}
{% load static %}
{% block title %}ゲスト登録{% endblock %}

{% block content %}

{% if error %}
    <div class="alert alert-danger" role="alert">{{ error }}</div>
{% endif %}

<div class="hostess-invite">
    <h2>CABABA予約システム</h2>
    <p>LINEログインしてお嬢を予約しましょう</p>

    <h3>
        <a class="hostess_agreement" href="{% url 'user_agreement_view' %}">CABABA会員規約</a><br>
        <a href="{{ login_url }}"><img src="{% static 'images/btn_login_base.png' %}"></a>
    </h3>
</div>

{% endblock %}