{% extends 'staff-partials/base.html' %}
{% load static %}
{% load cababa %}

{% block title %}お嬢一覧{% endblock %}

{% block content %}

{% if page_obj %}
<!-- お嬢を一覧表示 -->
    <table class="table">
        <thead class="thead-dark">
            <th scope="col">名前</th>
            <th scope="col">名前(源氏名)</th>
            <th scope="col">画像</th>
            <th scope="col">年齢</th>
            <th scope="col">身長</th>
            <th scope="col">出身地</th>
            <th scope="col">ランク</th>
            <th scope="col">LINE ID</th>
            <th scope="col">LINE登録済み？</th>
            <th scope="col">招待URL</th>
        </thead>
        <tbody>
            {% for hostess in page_obj %}
                <tr>
                    <td scope="row"><a href="{% url 'staff:hostess_detail' hostess.user_id %}">{{ hostess.hostess_profile.name }}</a></td>
                    <td>{{ hostess.display_name }}</td>
                    <td>{% if hostess.hostess_profile.images.0 %}<img src="{{ hostess.hostess_profile.images.0 }}" height=50>{% else %}未登録{% endif %}</td>
                    <td>{{ hostess.hostess_profile.age }}</td>
                    <td>{{ hostess.hostess_profile.height }}</td>
                    <td>{{ hostess.hostess_profile.prefecture_code|prefecture_str }}</td>
                    <td>{{ hostess.hostess_profile.get_rank_display }}</td>
                    <td>{{ hostess.line_user_id }}</td>
                    <td>{{ hostess.line_logined|yesno:"はい,いいえ,いいえ" }}</td>

                    {% if hostess.line_logined %}
                        <td>登録済み</td>
                    {% else %}
                        {% url 'hostess:invite' hostess.user_id as invitation_url %}
                        <input id="{{ hostess.user_id }}" type="text" value="{{ invitation_url|absolute_url:request|to_https }}" readonly style="top: -100px; position: fixed;">
                        <td>
                            <button class="btn btn-primary copy-button" data-id="{{ hostess.user_id }}">コピー</button>
                            <a href="http://line.me/R/msg/text/?こちらからCABABAに登録お願いします {{ invitation_url|absolute_url:request }}">
                            <!-- <a href="https://social-plugins.line.me/lineit/share?url={{ invitation_url|absolute_url:request }}"> -->
                                <img src="{% static 'images/wide-default.png' %}" alt="LINEで送る" style="height: 30px;" />
                            </a>
                        </td>
                    {% endif %}

                </tr>
            {% endfor %}
        </tbody>
    </table>
{% else %}
<!-- まだお嬢がいない場合 -->
<h3>まだお嬢が追加されていません</h3>
<p><a href="{% url 'staff:hostess_create' %}">追加する場合はこちらから</a></p>
{% endif %}

{% endblock %}

{% block js %}
<script>
    $(".copy-button").on('click', function (e) {
        e.preventDefault();
        var targetId = $(e.currentTarget).attr('data-id');
        var copyTarget = $('input#'+targetId);
        console.log(copyTarget);
        copyTarget.select();
        document.execCommand("Copy");
        alert("招待URLをクリップボードにコピーしました");
    })
</script>
{% endblock %}