{% extends 'staff-partials/base.html' %}

{% block title %}お嬢一覧{% endblock %}

{% block content %}

{% if page_obj %}
<!-- お嬢を一覧表示 -->
    <table class="table">
        <thead class="thead-dark">
            <th scope="col">ID</th>
            <th scope="col">名前</th>
            <th scope="col">写真</th>
            <th scope="col">LINE登録済み？</th>
        </thead>
        <tbody>
            {% for hostess in page_obj %}
                <tr>
                    <td scope="row"><a href="{% url 'staff:hostess_detail' hostess.user_id %}">{{ hostess.user_id }}</a></td>
                    <td>{{ hostess.display_name }}</td>
                    <td>{% if hostess.hostess_profile.image %}<img src="{{ hostess.hostess_profile.image }}" height=50>{% else %}未登録{% endif %}</td>
                    <td>{{ hostess.hostess_profile|yesno:"はい,いいえ,いいえ" }}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
{% else %}
<!-- まだお嬢がいない場合 -->
<h3>まだお嬢が追加されていません</h3>
<p><a href="{% url 'staff:hostess_create' %}">追加する場合はこちらから</a></p>
{% endif %}

{% endblock %}