{% extends 'staff-partials/base.html' %}

{% block title %}お嬢追加{% endblock %}

{% block content %}

<div class="staff-form">
    <h2>お嬢の新規追加</h4>

    <form method="POST">
        {% csrf_token %}
        <div class="form-row">
            <div class="form-group col-md-4">
                <label for="name"><strong>名前</strong> <span class="text-danger">*</span></label>
                <input type="text" name="name" class="form-control" id="name" placeholder="" value="{{ form.name.value }}" required>
                {% if form.name.errors  %}
                    <p class="text-danger">{{ form.name.errors.0 }}</p>
                {% endif %}
            </div>
            <div class="form-group col-md-4">
                <label for="display_name"><strong>名前 (源氏名)</strong> <span class="text-danger">*</span></label>
                <input type="text" name="display_name" class="form-control" id="display_name" placeholder="" value="{{ form.display_name.value }}" required>
                {% if form.display_name.errors  %}
                    <p class="text-danger">{{ form.display_name.errors.0 }}</p>
                {% endif %}
            </div>
        </div>

        <div class="form-row">
            <div class="form-group col-md-1">
                <label for="age"><strong>年齢</strong> <span class="text-danger">*</span></label>
                <input type="number" name="age" class="form-control" id="age" placeholder="" value="{{ form.age.value }}" required>歳
                {% if form.age.errors  %}
                    <p class="text-danger">{{ form.age.errors.0 }}</p>
                {% endif %}
            </div>
            <div class="form-group col-md-3">
                <label for="rank">ランク</label>
                <select name="rank" id="rank" class="form-control">
                    <option value="silver">シルバー - ￥1,000</option>
                    <option value="gold">ゴールド - ￥3,000</option>
                    <option value="platinum">プラチナ - ￥9,000</option>
                </select>
            </div>
        </div>

        <div class="form-row">
            <div class="form-group col-md-3">
                <label for="line_id"><strong>LINE ID</strong> <span class="text-danger">*</span></label>
                <input type="text" name="line_id" class="form-control" id="line_id" placeholder="" value="{{ form.line_id.value }}" required>
                {% if form.line_id.errors  %}
                    <p class="text-danger">{{ form.line_id.errors.0 }}</p>
                {% endif %}
            </div>
            <div class="form-group col-md-4">
                <label>LINE QRコード</label>
                <div class="custom-file">
                    <input type="file" name="line_qrcode" class="custom-file-input" id="line_qrcode" lang="ja">
                    <label class="custom-file-label" for="line_qrcode">ファイルを追加</label>
                </div>
            </div>
        </div>

        <div class="form-group">
            <label><strong>キャスト経験エリア</strong> <span class="text-danger">*</span></label>
            <div class="row">
                <div class="col-md-2">
                    <div class="form-check">
                        <input class="form-check-input" type="checkbox" id="kabukicho">
                        <label class="form-check-label" for="kabukicho">歌舞伎町</label>
                    </div>
                    <div class="form-check">
                        <input class="form-check-input" type="checkbox" id="roppongi">
                        <label class="form-check-label" for="roppongi">六本木</label>
                    </div>
                    <div class="form-check">
                        <input class="form-check-input" type="checkbox" id="ginza">
                        <label class="form-check-label" for="ginza">銀座</label>
                    </div>
                </div>

                <div class="col-md-2">
                    <div class="form-check">
                        <input class="form-check-input" type="checkbox" id="shibuya">
                        <label class="form-check-label" for="shibuya">渋谷</label>
                    </div>
                    <div class="form-check">
                        <input class="form-check-input" type="checkbox" id="ikebukuro">
                        <label class="form-check-label" for="ikebukuro">池袋</label>
                    </div>
                    <div class="form-check">
                        <input class="form-check-input" type="checkbox" id="ueno">
                        <label class="form-check-label" for="ueno">上野</label>
                    </div>
                </div>

                <div class="col-md-2">
                    <div class="form-check">
                        <input class="form-check-input" type="checkbox" id="kitashinchi">
                        <label class="form-check-label" for="kitashinchi">北新地</label>
                    </div>
                    <div class="form-check">
                        <input class="form-check-input" type="checkbox" id="minami">
                        <label class="form-check-label" for="minami">ミナミ</label>
                    </div>
                    <div class="form-check">
                        <input class="form-check-input" type="checkbox" id="nakasu">
                        <label class="form-check-label" for="nakasu">中州</label>
                    </div>
                </div>

                <div class="col-md-2">
                    <div class="form-check">
                        <input class="form-check-input" type="checkbox" id="kokubuncho">
                        <label class="form-check-label" for="kokubuncho">国分町</label>
                    </div>
                    <div class="form-check">
                        <input class="form-check-input" type="checkbox" id="susukino">
                        <label class="form-check-label" for="susukino">ススキノ</label>
                    </div>
                    <div class="form-check">
                        <input class="form-check-input" type="checkbox" id="others">
                        <label class="form-check-label" for="others">その他</label>
                    </div>
                </div>
            </div>

        </div>

        <div class="form-row">
            <div class="form-group">
                <label for="style">雰囲気/スタイル（任意）</label>
                <select name="style" id="style" class="form-control">
                    <option value="">-</option>
                    <option value="celeb">お姉さん・セレブ</option>
                    <option value="sexy">セクシー・ナイスバディ</option>
                    <option value="slim">モデル・スレンダー</option>
                    <option value="business">ビジネスパーソン</option>
                    <option value="young">ロリータ・妹</option>
                    <option value="school">女子大生</option>
                    <option value="girl">ギャル</option>
                    <option value="fat">ぽっちゃり</option>
                </select>
            </div>
        </div>

        <div class="form-row">
            <div class="form-group col-md-4">
                <label>プロフィール画像（任意）</label>
                <div class="custom-file">
                    <input type="file" name="profile_image" class="custom-file-input" id="profile_image" lang="ja">
                    <label class="custom-file-label" for="profile_image">ファイルを追加</label>
                </div>
            </div>
        </div>

        <button type="submit" class="btn btn-primary">登録</button>
    </form>
</div>

{% endblock %}