{% extends 'cababa/partials/base.html' %}
{% load static %}
{% block title %}ホステス登録{% endblock %}

{% block content %}

{% if error %}
    <div class="alert alert-danger" role="alert">{{ error }}</div>
{% endif %}

<div class="hostess-invite">
    <h2>ホステス登録</h2>
    <p>LINEログインしてホステスデビューしましょう</p>

    <h3>
        <a class="hostess_agreement" href="{% url 'cast_agreement_view' %}">CABABAキャストアカウント規約</a>
        <a href="{{ login_url }}"><img src="{% static 'images/btn_login_base.png' %}"></a>
    </h3>
</div>


{% endblock %}