{% extends 'cababa/partials/base.html' %}
{% load static %}
{% block title %}プロフィール設定{% endblock %}

{% block content %}

<div class="profile-edit">
    <h2>登録完了まであともう少しです</h2>
    <p><span>*</span> 必須入力</p>

    <form  method="POST" enctype="multipart/form-data">
        {% csrf_token %}

        <div class="form-field">
            <label for="name"><span>*</span> 名前（本名）</label>
            <input type="text" name="name" placeholder="山田花子" required>
        </div>

        <div class="form-field">
            <label for="display_name"><span>*</span> 名前（源氏名）</label>
            <input type="text" name="display_name" placeholder="あゆみ" required>
        </div>

        <small>
            <h4>＜写真登録時のポイント＞</h4>
            プロフィール写真を登録される場合は、「スクエア」等の正方形で撮影した写真を選択するか、正方形に切り取った写真をご利用ください。長方形の写真をご利用の場合は、写真が圧縮されて、美しさが半減する可能性がございます。
        </small>

        <div class="form-field">
            <label for="profile_image1"><span>*</span> プロフィール画像1</label>
            <input type="file" name="profile_image1" accept="image/*" onchange="validateFileType('profile_image1')" required>
        </div>

        <div class="form-field">
            <label for="profile_image2">プロフィール画像2</label>
            <input type="file" name="profile_image2" accept="image/*" onchange="validateFileType('profile_image2')">
        </div>

        <div class="form-field">
            <label for="profile_image3">プロフィール画像3</label>
            <input type="file" name="profile_image3" accept="image/*" onchange="validateFileType('profile_image3')">
        </div>

        <div class="form-field">
            <label for="profile_image4">プロフィール画像4</label>
            <input type="file" name="profile_image4" accept="image/*" onchange="validateFileType('profile_image4')">
        </div>

        <div class="form-field">
            <label for="age"><span>*</span> 年齢</label>
            <br/>
            <input type="number" name="age" placeholder="27" required>
        </div>

        <div class="form-field">
            <label for="height">身長 （任意）</label>
            <br/>
            <input type="number" name="height" placeholder="158">
        </div>

        <div class="form-field">
            <label for="prefecture_code">出身地</label>
            <br/>
            <select name="prefecture_code" class="single" required>
                {% for prefecture in prefectures %}
                    <option value="{{ prefecture.code }}">{{ prefecture.name }}</option>
                {% endfor %}
            </select>
        </div>

        <div class="form-field">
            <label for="body">体型</label>
            <br/>
            <select name="body" class="single" required>
                {% for value, text in form.body.field.choices %}
                    <option value="{{ value }}">{{ text }}</option>
                {% endfor %}
            </select>
        </div>

        <div class="form-field">
            <label for="{{ form.area.id_for_label }}">キャスト経験エリア（複数可）</label>
            <br/>
            <select name="area" multiple style="display: none;">
                {% for value, text in form.area.field.choices %}
                    <option value="{{ value }}"></option>
                {% endfor %}
            </select>
            {% for value, text in form.area.field.choices %}
                <div class="condition-option" data-target="area" data-value="{{ value }}">{{ text }}</div>
            {% endfor %}
        </div>

        <div class="form-field">
            <label for="{{ form.style.id_for_label }}">雰囲気/スタイル（複数可）</label>
            <br/>
            <select name="style" multiple style="display: none;">
                {% for value, text in form.style.field.choices %}
                    <option value="{{ value }}"></option>
                {% endfor %}
            </select>
            {% for value, text in form.style.field.choices %}
                <div class="condition-option" data-target="style" data-value="{{ value }}">{{ text }}</div>
            {% endfor %}
        </div>

        <div class="form-field">
            <label for="{{ form.personality.id_for_label }}">性格（複数可）</label>
            <br/>
            <select name="personality" multiple style="display: none;">
                {% for value, text in form.personality.field.choices %}
                    <option value="{{ value }}"></option>
                {% endfor %}
            </select>
            {% for value, text in form.personality.field.choices %}
                <div class="condition-option" data-target="personality" data-value="{{ value }}">{{ text }}</div>
            {% endfor %}
        </div>

        <div class="form-field">
            <label for="message"><span>*</span> お客さんに一言メッセージ</label>
            <textarea name="message"cols="30" rows="5" required></textarea>
        </div>

        <!-- LINEボット登録 -->
        <div class="form-field">
            <h3><span>*</span> 連絡用LINEチャンネル</h3>
            <p>こちらのチャンネルを友達登録してください</p>
            <a href="https://lin.ee/1cPblm7wU"><img src="https://scdn.line-apps.com/n/line_add_friends/btn/ja.png" alt="友だち追加" width=150 border="0"></a>
        </div>
        
        <p class="agreement">
            <a href="{% url 'cast_agreement_view' %}">CABABAキャストアカウント規約</a>
        </p>
        <button type="submit">規約に同意して送信</button>
    </form>
</div>


<!--    
    <div class="form-group" id="profile-image">
        <label for="image"><span class="text-danger">*</span>プロフィール写真</label>
        {% if form.image.errors %}
            <p class="text-danger">{{ form.image.errors.0|escape }}</p>
        {% endif %}
        <div class="mb-4">
            <img src="https://mdbootstrap.com/img/Photos/Others/placeholder-avatar.jpg" class="rounded-circle z-depth-1-half preview-image" alt="placeholder">
        </div>
        <div class="d-flex justify-content-center">
            <div class="btn btn-mdb-color btn-rounded float-left">
                <input name="image" type="file" class="image-upload" required>
            </div>
        </div>
    </div> -->

{% endblock %}


{% block js %}
<script>
    function validateFileType(fieldName){
        var imageInput = $('input[name='+fieldName+']')[0];
        if (imageInput.files[0]) {
            const file = imageInput.files[0];
            var pattern = /image-*/;
      
            if (!file.type.match(pattern)) {
                alert('画像を選んでください');
                // フォームフィールドをリセットする
                imageInput.value = '';
                return;
            }
      
            // here you can do whatever you want with your image. Now you are sure that it is an image
          } 
    }
</script>
{% endblock %}