option_settings:
  aws:elbv2:listener:443:
    DefaultProcess: https
    ListenerEnabled: 'true'
    Protocol: HTTPS
    SSLCertificateArns: arn:aws:acm:ap-northeast-1:278256510075:certificate/989f374f-08e3-4a7b-839a-5877c7380623
  aws:elasticbeanstalk:environment:process:https:
    Port: '443'
    Protocol: HTTPS