{% extends 'cababa/partials/base.html' %}
{% load static %}
{% load cababa %}
{% block title %}ホステス名{% endblock %}

{% block css %}
    <link rel="stylesheet" href="https://unpkg.com/swiper@6.0.0/swiper-bundle.min.css">
{% endblock %}

{% block content %}

<div class="hostess-detail">
    <!-- Slider main container -->
    <div class="swiper-container">
        <!-- Additional required wrapper -->
        <div class="swiper-wrapper">
            <!-- Slides -->
            {% for image in hostess.hostess_profile.images %}
                <img class="swiper-slide" src="{{ image }}" alt="">
            {% endfor %}
        </div>
        <!-- If we need scrollbar -->
        <div class="swiper-scrollbar"></div>
    </div>

    <form action="" method="post">

        <div class="hostess-profile">
            <div class="title-block">
                <h2>{{ hostess.display_name }}{% if hostess.hostess_profile.age %} ({{ hostess.hostess_profile.age }}){% endif %}</h2>
                <h5>{{ hostess.group.name }}</h5>
            </div>
            <dl class="profile-block">
                {% if hostess.hostess_profile.height %}
                    <dt>身長</dt>
                    <dd>{{ hostess.hostess_profile.height }}cm</dd>
                {% endif %}
                {% if hostess.hostess_profile.prefecture_code %}
                    <dt>出身地</dt>
                    <dd>{{ hostess.hostess_profile.prefecture_code|prefecture_str }}</dd>
                {% endif %}
                {% if hostess.hostess_profile.area %}
                    <dt>キャスト経験エリア</dt>
                    <dd> {% for area in hostess.hostess_profile.area %}{{ area|get_area_display }} {% endfor %}</dd>
                {% endif %}
            </dl>
            <ul class="style-block">
                {% if hostess.hostess_profile.body %}
                    <li>{{ hostess.hostess_profile.get_body_display }}</li>
                {% endif %}
                {% for style in hostess.hostess_profile.style %}
                    <li>{{ style|get_style_display }}</li>
                {% endfor %}
            </ul>
        </div>

        <div class="hostess-profile">
            <h3><img src="{% static 'images/heart.svg' %}" alt="">メッセージ</h3>
            <p>{{ hostess.hostess_profile.message|line_break }}</p>
        </div>

        <div class="hostess-profile">
            <h3><img src="{% static 'images/calendar.svg' %}" alt="">出勤情報</h3>
            <h4>予約したい時間帯を選択してください。</h4>

            <select name="available_date">
                <option value="">選択してください</option>
                {% for d in available_date %}
                    <option value="{{ d|date:'Ymd' }}">{{ d|date:'Y年n月j日 (D)' }}</option>
                {% endfor %}
            </select>

            <p id="empty-available-time">予約出来る時間がありません</p>

            <select name="available_time">
                {% for available_time in available_times %}
                    <option value="{{ available_time.available_id }}"></option>
                {% endfor %}
            </select>

            <ul class="available_time">
                {% for available_time in available_times %}
                    <li class="date-{{ available_time.start_at|date:'Ymd' }}" data-value="{{ available_time.available_id }}">{{ available_time.start_at|date:'H:i' }} - {{ available_time.end_at|date:'H:i' }}</li>
                {% endfor %}
            </ul>
        </div>

        <div class="hostess-profile">
            {% csrf_token %}
            <button type="submit" disabled><img src="{% static 'images/reservation.svg' %}" alt="">この子を指名する</button>
        </div>
    </form>

</div>

{% endblock %}

{% block js %}
    <script src="https://unpkg.com/swiper@6.0.0/swiper-bundle.min.js"></script>
    <script>
        var swiper = new Swiper('.swiper-container', {
            scrollbar: {
              el: '.swiper-scrollbar',
              hide: true,
              draggable: true,
            },
          });

        $(function () {
            switchAvailbleTime(undefined, []);

            const urlParams = new URLSearchParams(window.location.search);
            const errorMessage = urlParams.get('error');
            if (errorMessage) {
                alert(errorMessage);
            }
        });
    </script>
{% endblock %}