{% extends 'cababa/partials/base.html' %}
{% load static %}
{% block title %}HOSTES{% endblock %}

{% block content %}

<form method="GET" class="hostess-search">
    <img src="{% static 'images/search.svg' %}" alt="">
    <input type="text" name="keyword" placeholder="キャストを探す" value="{{ request.GET.keyword }}">
    <a href="{% url 'reservations:hostess_search' %}">
        <img src="{% static 'images/menubar.svg' %}" alt="">    
    </a>
</form>


<div class="hostess-index">
    <h2>キャスト一覧</h2>

    <!-- シルバーランク -->
    {% if rank_group.SR %}
        <div class="rank-block">
            <h3>Silver rank</h3>
            <div class="hostess-list">
                {% for hostess_profile in rank_group.SR %}
                    <a href="{% url 'reservations:hostess_detail' hostess_profile.hostess.user_id %}" class="hostess-block">
                            <div class="img-wrap">
                                <img src="{{ hostess_profile.images.0 }}" alt="">
                            </div>
                            <h4 class="title">{{ hostess_profile.hostess.display_name|truncatechars:10 }}{% if hostess.age %} ({{ hostess.age }}){% endif %}</h4>
                            <p>{% if hostess_profile.hostess.group %}{{ hostess_profile.hostess.group.name }}{% else %}　{% endif %}</p>
                    </a>
                {% endfor %}
            </div>
        </div>
    {% endif %}

    <!-- ゴールドランク -->
    {% if rank_group.GD %}
        <div class="rank-block">
            <h3>Gold rank</h3>
            <div class="hostess-list">
                {% for hostess_profile in rank_group.GD %}
                    <a href="{% url 'reservations:hostess_detail' hostess_profile.hostess.user_id %}">
                        <div class="hostess-block">
                            <div class="img-wrap">
                                <img src="{{ hostess_profile.images.0 }}" alt="">
                            </div>
                            <h4 class="title">{{ hostess_profile.hostess.display_name }}{% if hostess.age %} ({{ hostess.age }}){% endif %}</h4>
                            <p>{{ hostess_profile.hostess.group.name }}</p>
                        </div>
                    </a>
                {% endfor %}
            </div>
        </div>
    {% endif %}

    <!-- プラチナランク -->
    {% if rank_group.PM %}
        <div class="rank-block">
            <h3>Platinum rank</h3>
            <div class="hostess-list">
                {% for hostess_profile in rank_group.PM %}
                    <a href="{% url 'reservations:hostess_detail' hostess_profile.hostess.user_id %}">
                        <div class="hostess-block">
                            <div class="img-wrap">
                                <img src="{{ hostess_profile.images.0 }}" alt="">
                            </div>
                            <h4 class="title">{{ hostess_profile.hostess.display_name }}{% if hostess.age %} ({{ hostess.age }}){% endif %}</h4>
                            <p>{{ hostess_profile.hostess.group.name }}</p>
                        </div>
                    </a>
                {% endfor %}
            </div>
        </div>
    {% endif %}

</div>

{% endblock %}