{% extends 'cababa/partials/base.html' %}
{% load static %}
{% block title %}HOSTES{% endblock %}

{% block content %}

<form method="GET" class="hostess-search">
    <img src="{% static 'images/search.svg' %}" alt="">
    <input type="text" name="keyword" placeholder="キャストを探す" value="{{ request.GET.keyword }}">
    <a href="{% url 'reservations:hostess_search' %}">
        <img src="{% static 'images/menubar.svg' %}" alt="">    
    </a>
</form>


<div class="hostess-index">
    <h2>キャスト一覧</h2>

    {% regroup page_obj by rank as hostess_group %}

    {% for group in hostess_group %}
        <div class="rank-block">
            {% if group.grouper == 'PM' %}
                <h3>Platinum rank</h3>
            {% elif group.grouper == 'GD' %}
                <h3>Gold rank</h3>
            {% elif group.grouper == 'SR' %}
                <h3>Silver rank</h3>
            {% endif %}
            <div class="hostess-list">
                {% for hostess_profile in group.list %}
                    <a href="{% url 'reservations:hostess_detail' hostess_profile.hostess.user_id %}">
                        <div class="hostess-block">
                            <div class="img-wrap">
                                <img src="{{ hostess_profile.images.0 }}" alt="">
                            </div>
                            <h4 class="title">{{ hostess_profile.hostess.display_name }}{% if hostess.age %} ({{ hostess.age }}){% endif %}</h4>
                            <p>{{ hostess_profile.hostess.group.name }}</p>
                        </div>
                    </a>
                {% endfor %}
            </div>
        </div>
    {% endfor %}

    </div>
</div>

{% endblock %}