/* 
 ** hostess signup
 */
#signup-form {
    margin-bottom: 50px;
}

#signup-form #profile-image .preview-image {
    width: 100px;
    height: 100px;
    margin-left: 20px;
}

/* 
 ** hostess index
 */

/* 
 ** hostess detail
 */