.container {
    margin: 0 20px;
}

.container > h2 {
    font-family: 'YuMincho';
    font-weight: 600;
    font-size: 20px;
    color: #94805B;
    text-align: center;
}

.container > p {
    font-family: 'YuMincho';
    font-weight: 500;
    color: #4B4B4B;
}

.container > p:last-child {
    margin-bottom: 400px;
}

form {
    width: 90%;
    margin: 0px auto;
}

form .form-field {
    margin: 30px 0;
}

form .form-field label {
    font-family: 'Noto Sans';
    font-weight: 400;
    font-size: 16px;
}

form .form-field input[type=text], form .form-field input[type=text]::placeholder {
    font-family: 'Noto Sans';
    font-weight: 400;
    font-size: 14px;
    color: #B39B6D;
    opacity: 1;

    border: none;
    border-bottom: 1px solid #C4C4C4;
    padding: 5px;
    padding-bottom: 0px;
    line-height: 35px;
    width: 100%;
    height: 40px;
}

form button[type=submit] {
    width: 80%;
    height: 40px;
    border: none;
    background-color: #94805B;
    color: #FFFFFF;
    font-family: 'Noto Sans';
    font-size: 20px;
    font-weight: 700;
    letter-spacing: 1px;

    display: flex;
    justify-content: center;
    padding-top: 5px;
    margin: 50px auto;
}